+++
title = "Tekton"
linkTitle = "Tekton"

+++

{{< blocks/cover title="Welcome to the Tekton Project" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/tektoncd/pipeline/tree/master/docs">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md">
		Get Started <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Kubernetes-native building blocks for CI/CD everywhere.</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Tekton Pipelines provide k8s-style resources for declaring CI/CD pipelines for applications that run
in the cloud, on-premise, on bare metal or anywhere else.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Open Source!" %}}
Tekton is an open source project managed by the Continuous Delivery Foundation.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/tektoncd/pipeline/blob/master/CONTRIBUTING.md" %}}
We work in the open, on **GitHub**.
New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/tektoncd" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}	

{{< blocks/section >}}
